In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

In [5]:
A = pd.read_csv("A.csv")
B = pd.read_csv("B.csv")

In [9]:
B

     738   783   798   807   801   791   789   789.1   483   1265    118
0    738   783   788   785   777   772   774     775   483   1240    259
1    738   783   788   785   777   772   774     775   483   1215    379
2    738   782   788   785   777   772   774     775   483   1190    499
3    738   783   788   785   777   772   774     775   483   1170    600
4    738   783   788   785   777   772   774     775   483   1140    740
..   ...   ...   ...   ...   ...   ...   ...     ...   ...    ...    ...
582  739   792   804   796   780   773   775     776   483    -65  70276
583  738   788   800   793   778   772   775     776   483    -95  70397
584  738   786   796   790   777   772   775     776   483   -125  70518
585  738   785   793   788   777   772   774     776   483   -155  70635
586  738   784   791   787   776   772   774     775   483   -185  70758

[587 rows x 11 columns]